* {
    overflow-x: hidden !important;
    box-sizing: border-box !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    background-color: black;
}



.first_image {

    width: 100vw !important;
    height: 100vh !important;
}

.nav-link {
    font-size: 14px !important;
}

.text-1 {
    top: 48% !important;
    letter-spacing: 5px !important;
}

.text-2 {
    top: 56% !important;
    letter-spacing: 5px !important;
}

.text-3 {
    top: 64% !important;
    letter-spacing: 3px !important;
}

.page_2_text_1 {
    height: 88vh !important;
    width: 100vw !important;
}