* {
    overflow-x: hidden !important;

}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    background-color: black;
    margin-top: 6vh;

}

.page_3_contain {
    overflow: hidden !important;
}

.first_image {

    width: 100vw !important;
    height: 100vh !important;
}

.nav-link {
    font-size: 20px !important;
    letter-spacing: 2px !important;
}

.text-1 {
    top: 48% !important;
    letter-spacing: 5px !important;
}

.text-2 {
    top: 56% !important;
    letter-spacing: 5px !important;
}

.text-3 {
    top: 64% !important;
    letter-spacing: 3px !important;
}

.page_2_text_1 {
    height: 88vh !important;
    width: 100vw !important;
}

.download_cv_page1 {
    top: 70%;
    border: 2px solid lightblue !important;
    background-color: black !important;

}

.download_cv_page1:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}


/* 
-------------------------------------------------------------
                   portfolio page 4
-------------------------------------------------------------
*/