<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PortFolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='anime.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='portfolio.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='page4.2.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='page6.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body style="background-color: black; overflow-x:hidden ;">
    <nav class="navbar navbar-expand-lg text-light   w-100 fixed-top">
        <div class="container-fluid ">
            <button class="navbar-toggler bg-dark " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-center" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                    <li class="nav-item ">
                        <a class="nav-link active me-4 text-light" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link text-light me-4">ABOUT</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light me-4 fw-none" href="#portfolio">PORTFOL<span
                                class="overflow-hidden text-danger ">I</span>O</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skills" class="nav-link text-light me-4">SKILLS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light me-4" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- page-1 -->

    <div class="main o">
        <div class="container-fluid p-0 m-0">
            <div class="row m-0 p-0">
                <div class="col-12 w-100 h-100    m-0 p-0">
                    <img class="first_image position-relative" src="../static/image/pexels-sebastiaan-stam-1480690.jpg"
                        alt="">
                    <div class=" first_image_text w-100 d-flex justify-content-center">
                        <p class=" text-light text-1 position-absolute fs-3">Hello,I'm</p>
                        <p class=" text-light text-2 position-absolute h2 overflow-hidden">
                            <span class="name_aromal">A</span>
                            <span class="name_aromal">R</span>
                            <span class="name_aromal">O</span>
                            <span class="name_aromal">M</span>
                            <span class="name_aromal">A</span>
                            <span class="name_aromal">L</span>
                            <span class="name_aromal"> </span>
                            <span class="name_aromal">P</span>
                            <span class="name_aromal">S</span>
                        </p>
                        <p class="text-3  text-secondary  position-absolute">Welcome to my PortFolio</p>
                        <a href="" class="btn  download_cv_page1 text-white position-absolute fw-bold">DOWNLOAD CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-2 -->

    <div class="main page_2 overflow-hidden" id="about">
        <div class="container-fluid page_2_container overflow-hidden">
            <div class="row page_2_row overflow-hidden">
                <div
                    class="col-12 aboutme_text_1 mb-0  text-white d-flex align-items-center justify-content-center h1 overflow-hidden">
                    <!-- ABOUT ME -->
                </div>
                <div class="col-sm-5 vw-0 col-12  page_2_text_2  position-relative overflow-hidden">
                    <div class="image ms-5 ps-5 overflow-hidden">
                        <img class="overflow-hidden" src="../static/image/DSC_0187.JPG" alt="" style="width: 50px;">
                    </div>
                </div>
                <div class="col-md-7 col-12 page_2_text_3  ">
                    <p class="about_details text-light">About <b class="text-white">Me</b></p>
                    <div class="details w-75">Self-taught Python web developer specializing in Django and Flask
                        frameworks.
                        Passionate about both front-end and back-end development, I create dynamic, responsive web
                        applications. Started programming with a determination to learn independently, resulting in a
                        versatile skill set and problem-solving mindset. Dedicated to delivering high-quality, scalable
                        software meeting client and user needs. Continuously pushing boundaries and expanding expertise
                        in web development.</div>
                </div>
            </div>
        </div>
    </div>



    <!-- page-3 -->
    <div id="portfolio" style="height: 70px;"></div>
    <div class="main_port_4">
        <section class="container">
            <div class="row">
                <div
                    class="col-12 portfolio_text_1 mb-0 d-flex align-items-center overflow-hidden justify-content-center  h1">
                    PORTFOL<span class="text-danger overflow-hidden">I</span>O
                </div>
                <div class="col-12 w-50 mx-auto portfolio_page3 position-absolute d-flex  justify-content-around">
                    <a class=" page_3_links  text-decoration-none text-white overflow-hidden  h3 " href="">All</a>
                    <a class=" page_3_links  text-decoration-none text-white overflow-hidden  h3" href="">App</a>
                    <a class=" page_3_links  text-decoration-none text-white overflow-hidden  h3" href="">Card</a>
                    <a class=" page_3_links  text-decoration-none text-white overflow-hidden  h3" href="">Web</a>
                    <a class=" page_3_links page_3_links_project   text-decoration-none text-white overflow-hidden  h3"
                        href="">Projects</a>
                </div>
            </div>
            <div class="cards grid">

                <div class="card">
                    <div class="img-box">
                        <img src="../static/port/OnePlus-New-Logo.jpg" alt="">
                    </div>
                    <div class="card-content">

                        <a href="https://github.com/aromalaps/OnePlus_store.git" class="text-decoration-none ">
                            <h2 class="card-text overflow-hidden text-decoration-none  text-white">ONEPLUS+ clone(GitHub
                                link)</h2>
                            <div class="card-heading">OnePlus+ clone site build added products cart page place order
                                etc.
                            </div>
                        </a>
                        <a href="https://github.com/aromalaps/OnePlus_store.git" class="btn btn-dark">view</a>

                    </div>
                </div>
                <div class="card">
                    <div class="img-box">
                        <img src="../static/port/bookmyshow.png" alt="">
                    </div>
                    <div class="card-content">

                        <a href="" class="text-decoration-none">
                            <h2 class="card-text overflow-hidden text-decoration-none text-white">Book My show
                                clone(GitHub link)</h2>
                            <div class="card-heading">This is a clone project done by Bookmy show </div>
                        </a>
                        <a href="" class="btn btn-dark">view</a>


                    </div>
                </div>
                <div class="card">
                    <div class="img-box">
                        <img src="../static/port/ecommerse.png" alt="">
                    </div>
                    <div class="card-content">

                        <a href="https://github.com/aromalaps/ecommerce.git" class="text-decoration-none">
                            <h2 class="card-text overflow-hidden text-decoration-none text-white">E-commerse(Git)</h2>
                            <div class="card-heading">This is E-commerse website done by building a mobile store</div>
                        </a>
                        <a href="https://github.com/aromalaps/ecommerce.git" class="btn btn-dark">view</a>



                    </div>
                </div>
                <div class="card">
                    <div class="img-box">
                        <img src="../static/port/MY_portfolio.png" alt="">
                    </div>
                    <div class="card-content">

                        <a href="https://github.com/aromalaps/PortFolio.git" class="text-decoration-none">
                            <h2 class="card-text overflow-hidden text-decoration-none text-white">PORTFOLIO(Git)</h2>
                            <div class="card-heading">This is my portfolio my bio data projects everything included in
                                this project you can view my webapps i build</div>
                        </a>
                        <a href="https://github.com/aromalaps/PortFolio.git" class="btn btn-dark">view</a>


                    </div>
                </div>
                <div class="card">
                    <div class="img-box">
                        <img class="bg-dark" src="" alt="ADD MORE">
                    </div>
                    <div class="card-content">

                        <a href="" class="text-decoration-none">
                            <h2 class="card-text overflow-hidden text-decoration-none text-white">ADD MORE</h2>
                            <div class="card-heading">,,..</div>
                        </a>
                        <a href="" class="btn btn-dark">view</a>
                        <p class="card-text">
                            ADD details
                        </p>
                    </div>
                </div>



            </div>
        </section>
    </div>
    <!-- page-4 -->
    <div id="skills" style="height: 70px;"></div>
    <div class="main4 page_4 overflow-hidden">
        <div class="container-fluid page_4_container ">
            <div class="row ">
                <div
                    class="col-12 h1 mt-5 page4_text1 text-light overflow-hidden d-flex justify-content-center align-items-center">
                    SKILLS
                </div>
                <div class="col-8 h2 mt-5 page_4_text_2 overflow-hidden">Skills in Web Development</div>


                <div class="col-md-6  col-12 skilll-2  ">
                    <div class="skill-mf rounded-start skill-mf-2 p-5">
                        <span class="text-white">HTML</span> <span class="pull-right text-danger">85%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">CSS3</span> <span class="pull-right text-danger">75%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">DJANGO</span> <span class="pull-right text-danger">50%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">PYTHON</span> <span class="pull-right text-danger">90%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">BOOTSTRAP</span> <span class="pull-right text-danger">30%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-8 skilll-1  mx-auto ">
                    <div class="skill-mf skill_other rounded-end  p-5 ">
                        <span class="text-white h3">OTHERS</span> <span class="pull-rig text-danger"></span>
                        <div class="progress1">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="text-white">Riding</span> <span class="pull-right text-danger">55%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">photography</span> <span class="pull-right text-danger">30%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="text-white">Swimming</span> <span class="pull-right text-danger">90%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div><span class="text-white">Listening</span> <span class="pull-right text-danger">90%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" style="height: 8px;"></div>
    <div class="main" id="contact">
        <div class="container my-5">
            <div
                class=" h1 mt-5 mb-4 page6_contact_me1 text-light overflow-hidden d-flex justify-content-center align-items-center">
                CONTACT ME
            </div>

            <div class="row rounded-1" style=" border: 2px solid rgb(119, 119, 122);">
                <div class="col-12 col-md-5 image-fluid ">
                    <img class="image-fluid  contactpage_image rounded-1"
                        src="../static/image/pexels-sebastiaan-stam-1480690.jpg" height="530px" width="440px" alt="">
                </div>
                <div class="col-md-7 col-12 px-0 ps-md-1  ">
                    <div class="card page_6_card">
                        <div class="card-header card_header_page6">
                            <h3 class="text-center overflow-hidden">Contact Me</h3>
                        </div>
                        <div class="card-body">
                            <form id="myForm" action=""> <!-- method="POST" -->
                                <div class="form-group  form-group_page6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control form_control-page6" id="name"
                                        placeholder="Enter your name" name="name" required>
                                </div>
                                <div class="form-group  form-group_page6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form_control-page6" id="email"
                                        placeholder="Enter your email" name="email" required>
                                </div>
                                <div class="form-group form-group_page6">
                                    <label for="phone">Phone</label>
                                    <input type="number" class="form-control form_control-page6" id="phone"
                                        placeholder="Enter your phone number" name="phone" max="10" required>
                                    <div id="phone-error" class="text-danger"></div>
                                </div>
                                <div class="form-group  form-group_page6">
                                    <label for="message">Message</label>
                                    <textarea class="form-control form_control-page6" id="message" rows="3"
                                        placeholder="Write us a message" name="message" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cards end here -->
    <!-- script start here -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var spans = document.querySelectorAll('.name_aromal');
            spans.forEach(function (span, index) {
                setTimeout(function () {
                    span.style.opacity = 1;
                }, index * 350);
            });
        });
    </script>

    <script>
        document.getElementById('phone').addEventListener('input', function () {
            var phoneInput = this.value.trim();
            var phoneError = document.getElementById('phone-error');

            if (!/^\d+$/.test(phoneInput)) {
                phoneError.textContent = 'Please enter only digits (0-9).';
            } else {
                phoneError.textContent = '';
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>